<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <title>Sustainable World</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Vendor Style and Bootstrapping -->
    <link rel="stylesheet" type="text/css" href="vendor/vendor-bootstrapping/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="vendor/vendor-bootstrapping/css/font-awesome.css">
    <link rel='stylesheet' id='camera-css' href='vendor/vendor-bootstrapping/css/camera.css' type='text/css' media='all'>
    <link rel="stylesheet" type="text/css" href="vendor/vendor-bootstrapping/css/slicknav.css">
    <link rel="stylesheet" href="vendor/vendor-bootstrapping/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet"/>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="vendor/vendor-bootstrapping/js/jquery-1.8.3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="vendor/vendor-bootstrapping/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="vendor/vendor-bootstrapping/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="vendor/vendor-bootstrapping/js/camera.min.js"></script>
    <script type="text/javascript" src="vendor/vendor-bootstrapping/js/myscript.js"></script>
    <script src="vendor/vendor-bootstrapping/js/sorting.js" type="text/javascript"></script>
    <script src="vendor/vendor-bootstrapping/js/jquery.isotope.js" type="text/javascript"></script>
    <!--script type="text/javascript" src="vendor/vendor-bootstrapping/jquery.nav.js"></script-->
    <script type="text/javascript" src="core/site.core.js"></script>
    <!--END Vendor Style and Bootstrapping -->
    <!-- App Style and Bootstrapping -->
    <link rel="stylesheet" type="text/css" href="styles/main.css" media="all">
</head>

<body data-ng-controller="AppController">
    <div id="menuF" class="default">
        <main-menu></main-menu>
    </div>
    <div class="headerLine">
        <div class="container">
            <div class="row wrap">
                <div class="col-md-12 gallery">
                    <div class="camera_wrap camera_white_skin" id="camera_wrap_1">
                        <div data-thumb="" data-src="images/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                                <h2>New Generation.</h2>
                            </div>
                        </div>
                        <div data-thumb="" data-src="images/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                                <h2>Sustainable World.</h2>
                            </div>
                        </div>
                        <div data-thumb="" data-src="images/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                                <h2>Let's Go Green</h2>
                            </div>
                        </div>
                    </div>
                    <!-- #camera_wrap_1 -->
                </div>
            </div>
        </div>
    </div>
    <!-- 
    <ul class="navbar">
        <li class="navbar-link" data-ng-if="!sw.user">
            <a data-ui-sref="login">
                Login
            </a>
        </li>
        <li class="navbar-link" ng-if="sw.user">
            <a data-ui-sref="logout">
                Logout
            </a>
        </li>
    </ul>
    -->
    <!-- UI VIEW -->
    <data-ui-view>
        <!-- CONTENTS -->
    </data-ui-view>
    <!-- END UI VIEW -->

    <!-- Server Status -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 bar">
                <div class="progB chart" data-percent="{{sw.server.status.percentage}}" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="{{sw.server.status.percentage}}">
                            <span class="percent">{{sw.server.status.percentage}}</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>Server Status</h3>
                    <p>The App has little cute critters running thier legs hard to keep up with the traffic.</p>
                </div>
            </div>
            <div class="col-md-3 bar">
                <div class="progB chart" data-percent="{{sw.database.status.percentage}}" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="{{sw.database.status.percentage}}">
                            <span class="percent">{{sw.database.status.percentage}}</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>Database Status</h3>
                    <p>Our storage is made of recycled bottles. Did you know the world makes enough of them a year to at least
                        stretch the world one.. well maybe more than one time?</p>
                </div>
            </div>
            <div class="col-md-3 bar ">
                <div class="progB chart" data-percent="{{sw.app.curr.status.percentage}}" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="{{sw.app.curr.status.percentage}}">
                            <span class="percent">{{sw.app.curr.status.percentage}}</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>Sustainable World App</h3>
                    <p>The nuts and recycled bolts that paint that pretty picture we love to see on our tree bark.</p>
                </div>
            </div>
            <div class="col-md-3 bar ">
                <div class="progB chart" data-percent="{{sw.app.status.percentage}}" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="{{sw.app.status.percentage}}">
                            <span class="percent">{{sw.app.status.percentage}}</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>Year End Completion of Sustainable World App</h3>
                    <p>Our team likes to release a new version of the app every quarter to year end.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="line7">
        <div class="container">
            <div class="row footer">
                <div class="col-md-12" subscribe-module>
                </div>
                <div class="soc col-md-12">
                    <ul>
                        <li class="soc1">
                            <a data-ng-href="{{sw.linkedin.url}}" target=”_blank”></a>
                        </li>
                        <li class="soc2">
                            <a data-ng-href="{{sw.facebook.url}}" target=”_blank”></a>
                        </li>
                        <li class="soc3">
                            <a data-ng-href="{{sw.twitter.url}}" target=”_blank”></a>
                        </li>
                        <!--
                            <li class="soc1">
                                <a href="#"></a>
                            </li>
                            <li class="soc2">
                                <a href="#"></a>
                            </li>
                            <li class="soc3">
                                <a href="#"></a>
                            </li>
                            <li class="soc4">
                                <a href="#"></a>
                            </li>
                            <li class="soc5">
                                <a href="#"></a>
                            </li>
                            <li class="soc6">
                                <a href="#"></a>
                            </li>
                            <li class="soc7">
                                <a href="#"></a>
                            </li>
                            <li class="soc8">
                                <a href="#"></a>
                            </li>
                            -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lineBlack">
        <div class="container">
            <div class="row downLine">
                <div class="col-md-12 text-right" data-ng-if="false">
                    <!--input  id="searchPattern" type="search" name="pattern" value="Search the Site" onblur="if(this.value=='') {this.value='Search the Site'; }" onfocus="if(this.value =='Search the Site' ) this.value='';this.style.fontStyle='normal';" style="font-style: normal;"/-->
                    <input id="searchPattern" type="search" placeholder="Search the Site" /><i class="glyphicon glyphicon-search" style="font-size: 13px; color:#a5a5a5;" id="iS"></i>
                </div>
                <div class="col-md-6 text-left copy">
                    <p>NGSB Project Since 2014</p>
                    <p data-ng-if="false">Copyright &copy; 2014 Timber HTML Template. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-right dm" data-ng-if="false">
                    <ul id="downMenu">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#project1">Projects</a></li>
                        <li><a href="#news">News</a></li>
                        <li class="last"><a href="#contact">Contact</a></li>
                        <!--li><a href="#features">Features</a></li-->
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script src="vendor/vendor-bootstrapping/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script src="vendor/vendor-bootstrapping/js/bootstrap.min.js"></script>
    <script src="vendor/vendor-bootstrapping/js/jquery.slicknav.js"></script>
    <script>
        $(document).ready(function () {

            $(".bhide").click(function () {
                $(".hideObj").slideDown();
                $(this).hide(); //.attr()
                return false;
            });
            $(".bhide2").click(function () {
                $(".container.hideObj2").slideDown();
                $(this).hide(); // .attr()
                return false;
            });

            $('.heart').mouseover(function () {
                $(this).find('i').removeClass('fa-heart-o').addClass('fa-heart');
            }).mouseout(function () {
                $(this).find('i').removeClass('fa-heart').addClass('fa-heart-o');
            });

            function sdf_FTS(_number, _decimal, _separator) {
                var decimal = (typeof (_decimal) != 'undefined') ? _decimal : 2;
                var separator = (typeof (_separator) != 'undefined') ? _separator : '';
                var r = parseFloat(_number)
                var exp10 = Math.pow(10, decimal);
                r = Math.round(r * exp10) / exp10;
                rr = Number(r).toFixed(decimal).toString().split('.');
                b = rr[0].replace(/(\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g, "\$1" + separator);
                r = (rr[1] ? b + '.' + rr[1] : b);

                return r;
            }

            setTimeout(function () {
                $('#counter').text('0');
                $('#counter1').text('0');
                $('#counter2').text('0');
                setInterval(function () {

                    var curval = parseInt($('#counter').text());
                    var curval1 = parseInt($('#counter1').text().replace(' ', ''));
                    var curval2 = parseInt($('#counter2').text());
                    if (curval <= 707) {
                        $('#counter').text(curval + 1);
                    }
                    if (curval1 <= 12280) {
                        $('#counter1').text(sdf_FTS((curval1 + 20), 0, ' '));
                    }
                    if (curval2 <= 245) {
                        $('#counter2').text(curval2 + 1);
                    }
                }, 2);

            }, 500);

        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#menu').slicknav();

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var $menu = $("#menuF");

            $(window).scroll(function () {
                if ($(this).scrollTop() > 100 && $menu.hasClass("default")) {
                    $menu.fadeOut('fast', function () {
                        $(this).removeClass("default")
                            .addClass("fixed transbg")
                            .fadeIn('fast');
                    });
                } else if ($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
                    $menu.fadeOut('fast', function () {
                        $(this).removeClass("fixed transbg")
                            .addClass("default")
                            .fadeIn('fast');
                    });
                }
            });
        });
        //jQuery
    </script>
    <script>
        /*menu*/
        function calculateScroll() {
            /*
            var contentTop = [];
            var contentBottom = [];
            var winTop = $(window).scrollTop();
            var rangeTop = 200;
            var rangeBottom = 500;
            $('.navmenu').find('a').each(function () {
                contentTop.push($($(this).attr('href')).offset().top);
                contentBottom.push($($(this).attr('href')).offset().top + $($(this).attr('href')).height());
            });
            $.each(contentTop, function (i) {
                if (winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom) {
                    $('.navmenu li')
                        .removeClass('active')
                        .eq(i).addClass('active');
                }
            });
            */
        };

        $(document).ready(function () {
            calculateScroll();
            $(window).scroll(function (event) {
                calculateScroll();
            });
            $('.navmenu ul li a').click(function () {
                $('html, body').animate({
                    scrollTop: $(this.hash).offset().top - 80
                }, 800);
                return false;
            });
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function () {
            jQuery(".pretty a[rel^='prettyPhoto']").prettyPhoto({
                animation_speed: 'normal',
                theme: 'light_square',
                slideshow: 3000,
                autoplay_slideshow: true,
                social_tools: ''
            });

        });
    </script>


    <!-- Scripts -->
    <!-- Vendor -->
    <!-- Angular -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-ui-scroll/dist/ui-scroll.js"></script>
    <script src="vendor/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
    <script src="vendor/angular-ui-event/dist/event.js"></script>
    <script src="vendor/angular-ui-mask/dist/mask.js"></script>
    <script src="vendor/angular-ui-validate/dist/validate.js"></script>
    <script src="vendor/angular-ui-indeterminate/dist/indeterminate.js"></script>
    <script src="vendor/angular-ui-uploader/dist/uploader.js"></script>
    <script src="vendor/angular-ui-utils/index.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-loading-bar/build/loading-bar.js"></script>
    <script src="vendor/angularUtils-pagination/dirPagination.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-messages/angular-messages.js"></script>
    <!-- File Stack / File Picker -->
    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
    <!-- Loopback Services Api -->
    <script src="js/lb-services.js"></script>

    <!-- App Scripts -->
    <script src="core/app.core.js"></script>
    <!-- Module Scripts -->
    <!-- Login -->
    <script src="modules/login/login.directive.js"></script>
    <script src="modules/login/login.service.js"></script>

    <!-- Menu -->
    <script src="modules/menu/mainMenu.directive.js"></script>
    <script src="modules/menu/mainMenu.service.js"></script>

    <!-- Subscribe -->
    <script src="modules/subscribe/subscribeUser.directive.js"></script>
    <script src="modules/subscribe/subscribe.directive.js"></script>
    <script src="modules/subscribe/subscribe.service.js"></script>

    <!-- Articles -->
    <script src="modules/articles/edit/edit.directive.js"></script>
    <script src="modules/articles/edit/edit.service.js"></script>


</body>

</html>