html {
    font-size: 1.25em;
}
a {
    color: #1fff5a;
}
a:hover {
    color: #A8C1A8;
}

#menuF {
    background: #000;
}

.camera_wrap .camera_pag .camera_pag_ul, .camera_wrap .camera_caption {
    text-align: center;
}

.logo img {
    width: 50px;
    position: relative;
    bottom: 30px;
    -webkit-transition: width 2s;
    /* Safari */
    transition: width 2s;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.logo img:hover {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.transbg .logo img {
    bottom: 0 !important;
}
.default #menu {
    margin-top: 50px;
}

.title-label {
    margin: 0 0 25px 0;
}

.inv-team-picture {
    height: 180px;
}

#WhoMadeOurApp {
    margin-top: 40px;
}

@media all and (max-width: 991px) {
    .main-menu-items {
        display: none !important;
    }
}
#SubBanner {
    top: 100px;
    position: relative;
}

.subscribeButton {
    cursor: pointer;
}

/* MODULE STYLING */
.module-container {
    margin: 35px 0;
}

.sus-panel-input {
    transition-timing-function: ease;
    -webkit-transition: background 2s; /* Safari */
    transition: background 2s;
}