
<div class="container" id="SubBanner">
    <div class="row">
        <div class="col-md-4 project">
            <h3 id="counter">0</h3>
            <h4>Our Number of Members</h4>
            <p>Dolor sit amet, consectetur adipiscing elit quisque tempus eget diam et lorem a laoreet phasellus ut nisi id
                leo molestie. </p>
        </div>
        <div class="col-md-4 project">
            <h3 id="c1" data-idId="counter1">517</h3>
            <h4>Our Number of Posts</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus eget diam et. laoreet phasellus ut nisi
                id leo. </p>
        </div>
        <div class="col-md-4 project">
            <h3 id="counter2" style="margin-left: 20px;">0</h3>
            <h4 style="margin-left: 20px;">Our Number of Social Media Followers</h4>
            <p>Have you checked out any of our social media? Have a look below!</p>
        </div>
    </div>
    <div class="row">
        <div class="soc col-md-12">
            <ul>
                <li class="soc1">
                    <a data-ng-href="wwww.linkedin.com/ngsb" target="_blank"></a>
                </li>
                <li class="soc2">
                    <a data-ng-href="www.facebook.com/NGSW" target="_blank"></a>
                </li>
                <li class="soc3">
                    <a data-ng-href="www.twitter.com/NGSWB" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--about start-->

<div id="WhyOurApp">
    <div class="line2">
        <div class="container">
            <div class="row Fresh">
                <div class="col-md-12 title-label">
                    <h3>Why Sustainable World</h3>
                </div>
                <div class="col-md-4 Des">
                    <i class="fa fa-heart"></i>
                    <h4>Love our world</h4>
                    <p>We believe that social media can make being green fun! Sign up and try out our app! Please read our business
                        <a href="ngsb-content/docs/business_strategy.pdf">strategy.</a></p>
                </div>
                <div class="col-md-4 Ver">
                    <i class="fa fa-cog"></i>
                    <h4>Newly Built Site</h4>
                    <p>We have just released this app to allow our users to enjoy being green via social media, without all
                        the headaches of your old clunky website...</p>
                </div>
                <div class="col-md-4 Fully">
                    <i class="fa fa-tablet"></i>
                    <h4>Fully Responsive</h4>
                    <p>Our design is to enable our users to post, search, and comment anywhere you have internet! We want you
                        to use this on your phone, tablet, or computer!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="WhoMadeOurApp">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wwa">
                <span name="about"></span>
                <div class="title-label">
                    <h3>Who made this application?! Meet Our Team!</h3>
                    <h4>We took our time, we listened, we discussed, and we made it possible. We are really proud of our Sustainable World App.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row team">
            <div class="col-md-4">
                <img class="img-responsive img-circle inv-team-picture" src="ngsb-content/team/sonia.jpg" alt="Sonia">
                <h4>Sonia Mantzouridou-Onasi</h4>
                <h5>Co-Founder</h5>
                <p>
                    My name is Sonia Mantzouridou-Onasi and I am a Co-founder of the New Generation Sustainable World (NGSW) team. I was born in Greece, I am 22 years old and I am currently studying in the United States. My background is  in Mechanical Engineering and my passion is Sustainability. My interest in sustaining a healthy mind and body is what lead me into Yoga and the urge to show people how to build a Sustainable World. "We must always base our commitment in the center of our own being, or else no commitment will be ultimately authentic. -Rollo May"
                </p>
                <ul ng-if="false">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 b1">
                <img class="img-responsive img-circle inv-team-picture" src="ngsb-content/team/ioanna.jpg" alt="Ioanna">
                <h4>Ioanna Mantzouridou-Onasi</h4>
                <h5>Co-Founder</h5>
                <p>
                    My name is Ioanna Mantzouridou-Onasi and I was 15 when I started to get involved with sustainability. I am dedicated on creating
                    a sustainable group of people that will then show the rest of the world the true meaning of life and
                    the right path for our salvation. If you wish to be part of that family that keeps growing in size every
                    single year you are more than welcome to register to our website and keep up with our practices!
                </p>
                <ul ng-if="false">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 b3">
                <img class="img-responsive img-circle inv-team-picture" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANkAAAAJDE3MGI3NzAzLTEzMjAtNDY1My05ODBhLTFiOWNjZDI4MzZjMg.jpg"
                alt="Sean">
                <h4>Sean Vazquez</h4>
                <h5>CTO</h5>
                <p>Since he could walk, Sean Vazqez has always wanted to make the world a better place. His eye has been keen
                    on music, technology, and being green as a means to making the world a better place daily. He strives
                    for new ideas, everyday.
                </p>
                <ul ng-if="false">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 hr1">
                <hr/>
            </div>
        </div>
    </div>
    
    <div class="container" data-ng-if="false">
        <div class="row aboutUs">
            <div class="col-md-12 ">
                <h3>What Our Customers Say About Us?</h3>
            </div>
        </div>
    </div>
    <div style="position: relative;" data-ng-if="false">
        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        <img class="pic1Ab" src="images/picAbout/aboutP1.png" alt="">
                        <h3>Anna Smith, Company Inc.</h3>
                        <p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing
                            auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis. aliquam, nulla
                            nisi lobortis elit ac.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        <img class="pic2Ab" src="images/picAbout/aboutP2.png" alt="">
                        <h3>John Doe, Company Inc.</h3>
                        <p>Consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo, adipiscing auctor,
                            ut auctor feugiat fermentum nec quisque eget pharetra, felis et venenatis aliquam, nulla nisi
                            lobortis elit, ac luctus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="horL"></div>
        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        <img class="pic1Ab" src="images/picAbout/aboutP3.png" alt="">
                        <h3>Tom Sawyer, Company Inc.</h3>
                        <p>A auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum
                            quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, acnterdum ante feugiat
                            vitae.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        <img class="pic2Ab" src="images/picAbout/aboutP4.png" alt="">
                        <h3>Sarah White, Company Inc.</h3>
                        <p>Ornare nibh a auctor, mauris scelerisque eu proin nec urna nec a quis justo adipiscing auctor ut
                            auctor feugiat fermentum quisque eget pharetra felis et venenatis aliquam, nulla nisi lobortis
                            elit, ac eleifend nisl ante nec lorem. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--project start-->

<div id="project" data-ng-if="false">
    <div class="line3">
        <div class="container">
            <div id="project1"></div>
            <div class="row Ama">
                <div class="col-md-12">
                    <h3>Our Amazing Works</h3>
                    <p>Right here we've got something you gonna love</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- filter_block -->
            <div id="options" class="col-md-12" style="text-align: center;">
                <ul id="filter" class="option-set" data-option-key="filter">
                    <li><a class="selected current" href="#filter" data-option-value="*">All Works</a></li>
                    <li><a href="#filter" data-option-value=".polygraphy">Polygraphy</a></li>
                    <li><a href="#filter" data-option-value=".branding">Branding</a></li>
                    <li><a href="#filter" data-option-value=".web">Web UI</a></li>
                    <li><a href="#filter" data-option-value=".text_styles">Text Styles</a></li>
                </ul>
            </div>
            <!-- //filter_block -->

            <div class="portfolio_block columns3   pretty" data-animated="fadeIn">
                <div class="element col-sm-4   gall branding">
                    <a class="plS" href="images/prettyPhotoImages/pic1.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic1.jpg" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Recycled Paper - Business Card Mock Up</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>215</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>14</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4  gall branding">
                    <a class="plS" href="images/prettyPhotoImages/pic2.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic2.jpg" alt="pic2 Gallery" />
                    </a>
                    <div class="view project_descr center">
                        <h3><a href="#">Environment Logos Set</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>369</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>86</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4  gall web">
                    <a class="plS" href="images/prettyPhotoImages/pic3.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic3.jpg" alt="pic3 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Beag Simple WEB UI</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>400</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>124</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4  gall  text_styles">
                    <a class="plS" href="images/prettyPhotoImages/pic4.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic4.jpg" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Pop Candy Text Effect</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>480</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>95</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4  gall  web">
                    <a class="plS" href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic5.jpg" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr center">
                        <h3><a href="#">User Interface Elements</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>215</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>14</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4  gall  polygraphy">
                    <a class="plS" href="images/prettyPhotoImages/pic6.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic6.jpg" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Stationery Branding Mock Up</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>375</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>102</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4   gall branding">
                    <a class="plS" href="images/prettyPhotoImages/pic7.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic7.jpg" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Darko - Business Card Mock Up</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>440</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>35</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4  gall text_styles">
                    <a class="plS" href="images/prettyPhotoImages/pic8.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic8.jpg" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Foil Mini Badges</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>512</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>36</a></li>
                        </ul>
                    </div>
                </div>
                <div class="element col-sm-4  gall polygraphy">
                    <a class="plS" href="images/prettyPhotoImages/pic9.jpg" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall" src="images/prettyPhotoImages/thumb_pic9.jpg" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Woody Poster Text Effect</a></h3>
                        <ul>
                            <li><i class="fa fa-eye"></i>693</li>
                            <li><a class="heart" href="#"><i class="fa-heart-o"></i>204</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 cBtn  lb" style="text-align: center;">
                <ul class="load_more_cont ">
                    <li class="dowbload btn_load_more">
                        <a href="javascript:void(0);">
                            <i class="fa fa-arrow-down"></i>Load More Projects
                        </a>
                    </li>
                    <li class="buy">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>Buy on Themeforest
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(window).load(function () {
                    items_set = [

                        {
                            category: 'branding',
                            lika_count: '77',
                            view_count: '234',
                            src: 'images/prettyPhotoImages/pic9.jpg',
                            title: 'Foil Mini Badges',
                            content: ''
            },

                        {
                            category: 'polygraphy',
                            lika_count: '45',
                            view_count: '100',
                            src: 'images/prettyPhotoImages/pic7.jpg',
                            title: 'Darko – Business Card Mock Up',
                            content: ''
            },

                        {
                            category: 'text_styles',
                            lika_count: '22',
                            view_count: '140',
                            src: 'images/prettyPhotoImages/pic8.jpg',
                            title: 'Woody Poster Text Effect',
                            content: ''
            }


					];
                    jQuery('.portfolio_block').portfolio_addon({
                        type: 1, // 2-4 columns simple portfolio
                        load_count: 3,

                        items: items_set
                    });
                    $('#container').isotope({
                        animationOptions: {
                            duration: 900,
                            queue: false
                        }
                    });
                });
        </script>
    </div>
</div>

<!--news start-->

<div id="news" data-ng-if="false">
    <div class="line4">
        <div class="container">
            <div class="row Ama">
                <div class="col-md-12">
                    <h3>What&rsquo;s New?</h3>
                    <p>Get the latest news from our blog</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row news">
            <div class="col-md-6  text-left">
                <img class="img-responsive picsGall" src="images/picNews/news1.jpg" alt="" />
                <h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
            <div class="col-md-6 text-right">
                <img class="img-responsive picsGall" src="images/picNews/news2.jpg" alt="" />
                <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row news2 news">
            <div class="col-md-6 text-left">
                <img class="img-responsive picsGall" src="images/picNews/news3.jpg" alt="" />
                <h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
            <div class="col-md-6 text-right">
                <img class="img-responsive picsGall" src="images/picNews/news4.jpg" alt="" />
                <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row news2 news">
            <div class="col-md-6 text-left">
                <img class="img-responsive picsGall" src="images/picNews/news5.jpg" alt="" />
                <h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
            <div class="col-md-6 text-right">
                <img class="img-responsive picsGall" src="images/picNews/news6.jpg" alt="" />
                <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
        </div>
    </div>

    <div class="container hideObj2" style="display:none;">
        <div class="row news2 news">
            <div class="col-md-6 text-right">
                <img class="img-responsive picsGall" src="images/picNews/news6.jpg" alt="" />
                <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
            <div class="col-md-6 text-left">
                <img class="img-responsive picsGall" src="images/picNews/news5.jpg" alt="" />
                <h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                    <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus
                    ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                <hr class="hrNews">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row cBtn">
            <div class="col-md-12" style="text-align: center; margin-bottom: -90px; z-index: 10;">
                <ul class="mNews">
                    <li class="dowbload bhide2"><a href="#"><i class="fa fa-arrow-down"></i>Load More news</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--contact start-->

<div id="contact">
    <div class="line5" data-ng-if="false">
        <div class="container">
            <div class="row Ama">
                <div class="col-md-12">
                    <h3>Got a Question? We&rsquo;re Here to Help!</h3>
                    <p>Get in touch with us</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" data-ng-if="false">
        <div class="row">
            <div class="col-md-9 col-xs-12 forma">
                <form>
                    <input type="text" class="col-md-6 col-xs-12 name" name='name' placeholder='Name *' />
                    <input type="text" class="col-md-6 col-xs-12 Email" name='Email' placeholder='Email *' />
                    <input type="text" class="col-md-12 col-xs-12 Subject" name='Subject' placeholder='Subject' />
                    <textarea type="text" class="col-md-12 col-xs-12 Message" name='Message' placeholder='Message *'></textarea>
                    <div class="cBtn col-xs-12">
                        <ul>
                            <li class="clear">
                                <a href="#">
                                    <i class="fa fa-times"></i> clear form
                                </a>
                            </li>
                            <li class="send">
                                <a href="#">
                                    <i class="fa fa-share"></i> Send Message
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-xs-12 cont">
                <ul>
                    <li data-ng-if="false"><i class="fa fa-home"></i>5512 Lorem Ipsum Vestibulum 666/13</li>
                    <!--No Address -->
                    <li data-ng-if="false"><i class="fa fa-phone"></i>+1 800 789 50 12, +1 800 450 6935</li>
                    <!--No Phone -->
                    <li data-ng-if="false"><a href="#"><i class="fa fa-envelope"></i>mail@compname.com</a></li>
                    <!--No Email Yet -->
                    <li data-ng-if="false"><i class="fa fa-skype"></i>compname</li>
                    <!--No Skype -->
                    <li data-ng-if="false"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <!--No Twitter -->
                    <li><a href="#"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                    <li data-ng-if="false"><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>
                    <!-- No Dribble -->
                    <li data-ng-if="false"><a href="#"><i class="fa fa-flickr"></i>Flickr</a></li>
                    <!-- Flickr -->
                    <li data-ng-if="false"><a href="#"><i class="fa fa-youtube-play"></i>YouTube</a></li>
                    <!-- Youtube -->
                </ul>
            </div>
        </div>
    </div>
    <div class="line6" data-ng-if="false">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d48386.401887313725!2d-73.9407136!3d40.7147117!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1402409149092"
        width="100%" height="750" frameborder="0" style="border:0"></iframe>
    </div>
    <div class="container" data-ng-if="false">
        <div class="row ftext">
            <div class="col-md-12">
                <a id="features"></a>
                <h3>We Care About Our Clients and Can Make Their Life Easier!</h3>
                <p>The main peculiarity of template is the striking presentation when visitors just need to use the scrolling
                    option to find all necessary information about your web project. </p>
            </div>
            <div class="cBtn">
                <ul style="margin-top: 23px; margin-bottom: 0px; padding-left: 26px;">
                    <li class="dowbload"><a href="#"><i class="fa fa-star"></i>View All Features</a></li>
                    <li class="buy"><a href="#"><i class="fa fa-download"></i>Buy This Template</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>