<div class="jumbotron module-container">
    <div id="EditArticleContainer" class="well well-lg">
        <h1>Article <small>Edit</small></h1>

        <edit-article>
        </edit-article>
    </div>
</div>