<div id="EditArticle">
    <div class="well well-lg">
        <label>Article Data Info</label>
        <br>
        <div>
            <code>{{article}}</code>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <button type="button" class="btn btn-link" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span ng-hide="(article.title && article.category)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        <span ng-hide="!(article.title && article.category)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Add a Title, Category, and Media
                    </button>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body sus-panel-input" data-ng-class="{ 'bg-success' : (article.title && article.category) }">
                    <form class="form-horizontal" name="addTitle">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" placeholder="Title..." data-ng-model="article.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="keywords" class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="keywords" placeholder="Category..." data-ng-model="article.category">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">Image</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="image" placeholder="Image..." data-ng-model="article.image">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thumbnail" class="col-sm-2 control-label">Thumbnail Image</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="thumbnail" placeholder="Thumbnail Image..." data-ng-model="article.thumbnail">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <button type="button" class="btn btn-link collapsed" 
                        data-ng-disabled="!(article.title && article.category)" 
                        role="button" data-toggle="collapse" data-parent="#accordion" 
                        data-target="#collapseTwo" aria-expanded="false" 
                        aria-controls="collapseTwo">
                        <span ng-hide="!(article.title || article.category || !(article.title && article.category) || (article.title && article.category && article.text && article.keywords))" 
                            class="glyphicon glyphicon-pencil" 
                            aria-hidden="true">
                        </span>
                        <span ng-hide="!(article.title && article.category && article.text && article.keywords)" 
                            class="glyphicon glyphicon-ok" 
                            aria-hidden="true">
                        </span>
                            Add Text and Keywords
                    </button>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body sus-panel-input" data-ng-class="{ 'bg-success' : (article.text && article.keywords) }">
                    <form class="form-horizontal" name="addTitle">
                        <div class="form-group">
                            <label for="keywords" class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" data-ng-model="article.text"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="keywords" class="col-sm-2 control-label">Keywords</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="keywords" placeholder="Keywords..." data-ng-model="article.keywords">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body sus-panel-input" data-ng-class="{ 'bg-success' : (article.text && article.keywords) }">
                    <form class="form-horizontal" name="addTitle">
                        <div class="form-group">
                            <label for="keywords" class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" data-ng-model="article.text"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="keywords" class="col-sm-2 control-label">Keywords</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="keywords" placeholder="Keywords..." data-ng-model="article.keywords">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <button type="button" class="btn btn-link collapsed" data-ng-disabled="!(article.title && article.category && article.text && article.keywords)" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span ng-hide="(article.title && article.category && article.text && article.keywords)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        <span ng-hide="!(article.title && article.category && article.text && article.keywords)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Preview Your Post
                    </button>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body sus-panel-input" data-ng-class="{ 'bg-info' : (article.title && article.category && article.text && article.keywords) }">
                    <h4>Your article is ready to go !</h4>
                    <br>
                    <h4><label>{{article.title}}</label></h4>
                    <br>
                    <label>{{article.category}}</label>
                    <br>
                    <label>{{article.keywords}}</label>
                    <br>
                    <label>{{article.text}}</label>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

