<div class="container">
    <div class="row">
        <div class="logo col-md-4">
            <div>
                <a href="#">
                    <img src="ngsb-content/web.png" alt="NGSB Logo">
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="navmenu" style="text-align: center;">
                <ul id="menu">
                    <!--
                    <li class="active main-menu-items"><a ui-sref="home">Home</a>
                    </li>
                    <li class="main-menu-items"><a href="#WhyOurApp">Why Our App</a>
                    </li>
                    <li class="main-menu-items"><a href="#WhoMadeOurApp">Who Made It</a>
                    </li>
                    <li><a href="#" ui-sref="login">Login</a>
                    </li>
                    <li class="last main-menu-items"><a href="#contact">Contact</a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</div>