<div id="LoginModule">
    <h3>Login to Sustainable World!</h3>
    <p>Login here if you have an account! :)</p>
    <div class="fr">
        <div style="display: inline-block;">
            <form name="login"> 
                <input class="col-md-6 fEmail" name='EmailEntry' class="form-control" type="email" required data-ng-model="user.email" value=""
                data-ng-model-options="{ updateOn : 'default blur' }" data-ng-focus="ctrl.toggleEmailPrompt(true)" data-ng-blur="ctrl.toggleEmailPrompt(false)"
                />
                <input class="col-md-6 fEmail" name='PasswordEntry' class="form-control" type="password" required data-ng-model="user.password" value=""
                data-ng-model-options="{ updateOn : 'default blur' }" data-ng-focus="ctrl.toggleEmailPrompt(true)" data-ng-blur="ctrl.toggleEmailPrompt(false)"
                />
                <a class="subS subscribeButton" data-ng-click="loginUser(user);" data-ng-disabled="login.$invalid">
                    Login!
                </a>
            </form>
        </div>
    </div>
    <div class="my-messages">
        <div class="prompt message-animation" ng-if="ctrl.showEmailPrompt">
            What's your email address?
        </div>
    </div>
</div>