<div id="SubscribeModule">
    <h3>Subscribe for Our Newsletter!</h3>
    <p>Subscribe to our newsletter email to get notification about fresh news, latest promos, giveaways and free stuff from
        NGSB. Stay always up-to-date!</p>
    <div class="fr">
        <div style="display: inline-block;">
            <form name="subscribe" subscribe-user></form>
        </div>
    </div>

    <div class="my-messages">
        <div class="prompt message-animation" ng-if="ctrl.showEmailPrompt">
            What's your email address?
        </div>
    </div>
</div>